<h3>First title to see how it looks like</h3>
<h5>Sub - section</h5>
<div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet augue risus. Morbi lobortis ante sed
    porta auctor. Morbi sit amet lectus nibh. Ut vehicula ex a risus condimentum, in congue ante consequat. Nunc pretium
    enim in quam congue, ut convallis libero elementum. Mauris in ligula quam. Aliquam non tellus pellentesque, varius
    mauris sed, <code>tincidunt lorem</code>. Fusce aliquet, turpis hendrerit ultrices placerat, sem lacus accumsan magna, nec
    dapibus diam elit id nulla. Nam consequat molestie tortor, ut viverra ipsum pulvinar eget. Morbi fermentum ornare
    urna. Donec vel dui tempus, vehicula urna pharetra, rhoncus nunc. Fusce interdum mi quis neque efficitur mattis.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel luctus diam.
    Curabitur dignissim nibh est, a bibendum leo feugiat non.</p>
  <div class="noticeboxesde yellownoticebox">
    “The strange thing is that <code>RuntimeException</code> is itself subclass of <code>Exception</code>
    i.e. all unchecked exception classes should have been checked exceptions implicitly, BUT they are not.”
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet augue risus. Morbi lobortis ante sed
    porta auctor.Morbi sit amet lectus nibh. Ut vehicula ex a risus condimentum, <span class="highlight">in congue ante consequat.</span>Nunc pretium
    enim in quam congue, ut convallis libero elementum. Mauris in ligula quam. Aliquam non tellus pellentesque, varius
    mauris sed, tincidunt lorem. Fusce aliquet, turpis hendrerit ultrices placerat, sem lacus accumsan magna, nec
    dapibus diam elit id nulla. Nam consequat molestie tortor, ut viverra ipsum pulvinar eget. Morbi fermentum ornare
    urna. Donec vel dui tempus, vehicula urna pharetra, rhoncus nunc. Fusce interdum mi quis neque efficitur mattis.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel luctus diam.
    Curabitur dignissim nibh est, a bibendum leo feugiat non.</p>
  <div class="noticeboxesde bluenoticebox">Java 9 is scheduled to release on 2017/09/21. For <code>latest changes</code>, follow this
    <a href="http://openjdk.java.net/projects/jdk9/" target="_blank">link</a>.
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet augue risus. Morbi lobortis ante sed
    porta auctor. Morbi sit amet lectus nibh. Ut vehicula ex a risus condimentum, in congue ante consequat. Nunc pretium
    enim in quam congue, ut convallis libero elementum. Mauris in ligula quam. Aliquam non tellus pellentesque, varius
    mauris sed, tincidunt lorem. Fusce aliquet, turpis hendrerit ultrices placerat, sem lacus accumsan magna, nec
    dapibus diam elit id nulla. Nam consequat molestie tortor, ut viverra ipsum pulvinar eget. Morbi fermentum ornare
    urna. Donec vel dui tempus, vehicula urna pharetra, rhoncus nunc. Fusce interdum mi quis neque efficitur mattis.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel luctus diam.
    Curabitur dignissim nibh est, a bibendum leo feugiat non.</p>
  <div class="noticeboxesde rednoticebox">Java 9 is scheduled to release on 2017/09/21. For latest changes, <code>follow this</code>
    <a href="http://openjdk.java.net/projects/jdk9/" target="_blank">link</a>.
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet augue risus. Morbi lobortis ante sed
    porta auctor. Morbi sit amet lectus nibh. Ut vehicula ex a risus condimentum, in congue ante consequat. Nunc pretium
    enim in quam congue, ut convallis libero elementum. Mauris in ligula quam. Aliquam non tellus pellentesque, varius
    mauris sed, tincidunt lorem. Fusce aliquet, turpis hendrerit ultrices placerat, sem lacus accumsan magna, nec
    dapibus diam elit id nulla. Nam consequat molestie tortor, ut viverra ipsum pulvinar eget. Morbi fermentum ornare
    urna. Donec vel dui tempus, vehicula urna pharetra, rhoncus nunc. Fusce interdum mi quis neque efficitur mattis.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel luctus diam.
    Curabitur dignissim nibh est, a bibendum leo feugiat non.</p>
  <div id="list5">
    <ul>
      <ol>Google
        <ul class="parent">
          <li>Picasa</li>
          <li>Feedburner</li>
          <li>Youtube</li>
        </ul>
      </ol>
      <li>Microsoft
        <ul>
          <li>Corel Corporation</li>
          <li>Zignals</li>
          <li>ByteTaxi</li>
        </ul>
      </li>
      <li>Yahoo!
        <ul>
          <li>Xoopit</li>
          <li>BuzzTracker</li>
          <li>MyBlogLog</li>
        </ul>
      </li>
    </ul>
  </div>
  <blockquote>
    <p>Above given questions are must read before appearing any Java interview. Still, they do not provide
      complete coverage. You need to know more and more to perform better in interviews. I will suggest you to read more
      topics in the following sections in given order.</p>
  </blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet augue risus. Morbi lobortis ante sed
    porta auctor. Morbi sit amet lectus nibh. Ut vehicula ex a risus condimentum, in congue ante consequat. Nunc pretium
    enim in quam congue, ut convallis libero elementum. Mauris in ligula quam. Aliquam non tellus pellentesque, varius
    mauris sed, tincidunt lorem. Fusce aliquet, turpis hendrerit ultrices placerat, sem lacus accumsan magna, nec
    dapibus diam elit id nulla. Nam consequat molestie tortor, ut viverra ipsum pulvinar eget. Morbi fermentum ornare
    urna. Donec vel dui tempus, vehicula urna pharetra, rhoncus nunc. Fusce interdum mi quis neque efficitur mattis.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vel luctus diam.
    Curabitur dignissim nibh est, a bibendum leo feugiat non.</p>

</div>
